#r_form{
    width: 43vh;
    margin-top: 1rem;
    height: 100vh;
   
  
}

#r_box{
    display: flex;
    justify-content: center;
   
    
     
   
    
}
.btn{
    width: 42vh;
}
#center{
    width: 42vh;
    
}
h1{
    text-align: center;
    color: rgb(6, 43, 255);
}

*{
    font-family: Arial, Helvetica, sans-serif;

}
.rounded-circle{
    height: 10rem;
    width: 10rem;
}