@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;

      @include lg {
        display: none;
      }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;
      transition: background-color 0.3s, color 0.3s; // Added transition for a smooth effect

      &:hover {
        background-color: rgb(3, 3, 36);
        color: white;

        .listItemIcon {
          color: white;
        }
      }

      .listItemTitle {
        @include lg {
          display: none;
        }
      }
    }
  }
}
