/* AboutUs.css */

.about-us-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
h1 {
  font-size: 1.5em; /* Adjust the font size as needed */
  color: #222666;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  margin: 0;
}
h2 {
  color: #333;
}
.about-us {
  text-align: center;
  margin-bottom: 30px;
}


p {
  color: #555;
  line-height: 1.5;
}

.mission-vision-section {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  
}

.mission-section,
.vision-section {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mission-section {
  background-color: #e5e9f1;
  border: 2px solid #222666; /* Add border color for vision */
}

.vision-section {
  background-color: #e5e9f1;
  border: 2px solid #222666; /* Add border color for vision */
}

.visuals-section {
  margin-top: 30px;
}

.visuals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.visuals-container img {
  max-width: 100%;
  border-radius: 15px;
  margin-bottom: 200px;
  box-shadow: 0 0 10px rgba(31, 14, 64, 0.1);
}

/* Add more styling based on your design preferences */


